@import url(https://lsong.org/stylesheets/panel.css);
@import url(https://lsong.org/stylesheets/list.css);

.container {
  max-width: 650px;
}

label {
  display: block;
}

.balance-amount {
  font-size: 2em;
  display: block;
}

.bill-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
}